.container {
    max-width: 600px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    padding: 10px 50px 20px 50px;
    border-radius: 10px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.elements {
    display: flex;
    flex-direction: column;
}
.elements * {
    margin-bottom: 10px;
}
