.logo {
    height: 3rem;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logoText {
    font-family: monospace;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
