.header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 0 0 5px 5px;
}

.light {
    background: burlywood;
}

.dark {
    background: rgb(59, 44, 23);
}

.searchArea {
    position: relative;
    min-width: 300px;
}

.dropDownArea {
    position: absolute;
    border-radius: 5px;
    padding: 0;
    min-width: 220px;
    background-color: burlywood;
    list-style: none;
    top: 85px;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 2;
}

.dropDownImg {
    margin: 0 auto;
}

.dropCard {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid darkgrey;
    opacity: 0.8;
}

.dropCard:hover {
    opacity: 1;
}

.linkItem {
    display: flex;
}
